<footer>
  <div class="row">
    <div class="large-3 columns">
      {% include 'includes/logo' %}
    </div>
  </div>
  <div class="row">
    <div class="large-3 medium-6 columns">
      <hr>
      {{ site.meta['physical-address'] | markdown }}
    </div>
    <div class="large-3 medium-6 columns">
      <hr>
      {% for page in site.pages %}
        <li> 
          <a href="{{page.url}}" {% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a>
        </li>
      {% endfor %}
    </div>
    <div class="large-3 medium-6 columns">
      <hr>
      {{ site.meta['footer-blurb'] | markdown }}
    </div>
    <div class="large-3 medium-6 columns">
      <hr>
      <ul class="social-icons">
        <li>Connect with us</li>
        {% include 'includes/social-profile-icons' %}
      </ul>
    </div>
  </div>
</footer>