<div class="hero-image" style="background:url({{meta['featured-img']}}) center center no-repeat fixed; background-size:cover">
  <div class="row text-center hero-padding">
    {% if home? %}
    <h1>
      {% include 'includes/logo' %}
    </h1>
    {% endif %}
    <img src="{{meta['featured-icon']}}" alt="featured icon">
    <h1>{{ meta['headline'] }}</h1>
    <div class="medium-6 medium-centered columns">
      {{ body }}
    </div>
    {% if home? %}
    <a href="#facets" class="button transparent-green-button">join the mission</a>
    {% endif %}
  </div>
</div>