<div class="medium-6 columns">
  <img src="{{post.meta['profile-img']}}" alt="{{post.title}}'s picture">
  <h2>{{post.title}}</h2>
  <h5>{{post.meta['title']}}</h5>
  <div class="medium-6 medium-centered columns">
    <a href="{{post.url}}" class="button transparent-green-button expand">Read More</a>
  </div>
  <p>Connect with {{post.meta['first-name']}}</p>
  <div class="padding-bottom">
    <a href="{{post.meta['facebook-link']}}"><img src="/images/icons/green-facebook.png" alt="facebook icon"></a>
    <a href="{{post.meta['twitter-link']}}"><img src="/images/icons/green-twitter.png" alt="twitter icon"></a>
  </div>
</div>