.section-padding {
  padding: 20vh 0;
}

.section-padding2 {
  padding: 3rem 0;
}

.gradient-section {
  color: $white;

  .crazy-stuff {
    padding-top: 3rem;
  }

  h4 {
    color: $white;
    padding-top: 3rem;
  }

  p {
    margin-top: 0;
  }
}

.height-200 {
  min-height: 250px;
}
