.hero-padding {
  padding: 20vh 0;
}

.gradient-section {
  color: $white;

  .crazy-stuff {
    padding-top: 3rem;
  }

  h4 {
    color: $white;
    padding-top: 3rem;
  }

  p {
    margin-top: 0;
  }
}

.section-padding {
  padding: 2rem 0;
}

.height-200 {
  min-height: 190px;
}

.event-sharing {

  p {
    display: inline;
    margin-right: 5px;
  }
  .icon {
    display: inline;
    margin-right: 10px;
    max-height: 26px;
  }
}

.social-icons {

  li {
    display: inline;
  }

  img {
    max-height: 20px; 
  }
}

.float-right-margin {
  float: right;
  margin-left: 14px;
}

.float-right {
  float: right;
}
