// A lot of the typography related things are defined in foundation-settings

h1, 
h2,
h3 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h4, 
h5, 
h6 {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
