.profiles-section {

  h4 {
    color: $grey;
  }

  h2 {
    margin-bottom: 0;
  }

  h5 {
    color: $grey;
    margin-top: 0;
  }

  p {
    font-size: 0.75rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.sub-padding {
  padding-bottom: 2rem;
}

.grey-section {
  background: $grey-background;
}
