{% capture content %}

{% assign accelerator = site.pages['accelerator'] %}
{% assign lunar_project = site.pages['lunar-project'] %}
{% assign waypaver_university = site.pages['programs'].pages['waypaver-university'] %}
{% assign speaker_series = site.pages['programs'].pages['speaker-series'] %}

  <a name="facets"></a>
  <div class="gradient-section section-padding">
    <div class="row">
      <div class="large-4 medium-8 medium-centered large-uncentered columns text-center crazy-stuff">
        <img src="/images/waves-vector.png" style="max-height: 118px;" alt="waves on graph">
        <h4>{{ accelerator.title }}</h4>
        <div class="height-200">
          {{ accelerator.body }}
        </div>
        <a href="{{ accelerator.url }}" class="thin-button button transparent-white-button">learn more</a>
      </div>
      <div class="large-4 medium-8 medium-centered large-uncentered columns text-center side-borders crazy-stuff">
        <img src="/images/circles-vector.png" style="max-height: 118px;" alt="crazy circles">
        <h4>{{ lunar_project.title }}</h4>
        <div class="height-200">
          {{ lunar_project.body }}
        </div>
        <a href="{{ lunar_project.url }}" class="thin-button button transparent-white-button">learn more</a>
      </div>
      <div class="large-4 medium-8 medium-centered large-uncentered columns text-center crazy-stuff">
        <img src="/images/arc-vector.png" style="max-height: 118px;" alt="arc on graph">
        <h4>{{ waypaver_university.title }}</h4>
        <div class="height-200">
          {{ waypaver_university.body }}
        </div>
        <a href="{{ waypaver_university.url }}" class="thin-button button transparent-white-button">learn more</a>
      </div>
    </div>
  </div>
  <div class="speaker-section">
    <div class="section-padding">
      <div class="row">
        <h4 class="columns">Coming Up</h6>
        {% for post in speaker_series.posts limit:2 %}
          <div class="large-6 columns">
            <img src="{{post.meta['home-img']}}" alt="speaker's portrait">
            <h6>speaker series:</h6>
            <h2 class="speaker-name">{{post.title}}</h2>
            <h5 class="details">{{post.meta['details']}}</h5>
            <div style="min-height: 110px;" class="small-text">
              {{post.excerpt}}
            </div>
            <a href="{{post.meta['registration-link']}}" target="_blank" class="button transparent-green-button">register</a>
            <a href="{{speaker_series.url}}#{{post.slug}}" class="button transparent-green-button">learn more</a>
            <p>SHARE<a href="https://www.facebook.com/sharer/sharer.php?u={{site.permalink}}{{speaker_series.url}}#{{post.slug}}"><img src="/images/icons/green-facebook.png"></a><a href="https://twitter.com/home?status={{site.permalink}}{{speaker_series.url}}#{{post.slug}}"><img src="/images/icons/green-twitter.png"></a></p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endcapture %}

{% include 'layouts/default-page' %}