extends layouts/h5bp.jade

block title
    title Prototype Styleguide

block content
    #speaker-section
        .row
            .columns
                h2.bold Page Elements
                h5 Speaker Entry
                hr
                .row
                    .medium-3.columns
                        h3 IMG Goes Here
                    .medium-9.columns
                        h4.date Sunday March 2nd
                        h3.name Alan Watts
                        h5.subhead Philosopher
                        p Gains love free madness of depths gains aversion reason burying prejudice deceptions play. Prejudice chaos morality faithful god right transvaluation war eternal-return law derive prejudice good. Pious grandeur war truth merciful dead eternal-return disgust selfish depths. Disgust free strong deceptions horror will hope against right. 
                        p Sea zarathustra decrepit deceptions justice madness grandeur disgust zarathustra contradict decrepit. Overcome decieve disgust marvelous selfish intentions prejudice ascetic right ubermensch contradict zarathustra abstract. Hatred superiority reason moral horror sea law moral hope free marvelous.
                        button.blue-light-background-button Register 
                    .medium-12.columns      
                        hr
    .row
        .medium-12.columns
            h3.bold Buttons
    .black-background
        .button-section
            .row
                .columns
                    h5 Primary (Dark BKGD)
                    button.blue-dark-background-button Main CTA
                    button.white-dark-background-button Main CTA
                    button.red-dark-background-button Main CTA
                    button.grey-dark-background-button Main CTA
    .button-section
        .row
            .columns
                h5 Primary (Light BKGD)
                button.blue-light-background-button Main CTA
                button.black-light-background-button Main CTA
                button.red-light-background-button Main CTA
                button.grey-light-background-button Main CTA
    .button-section
        .row
            .columns
                h5 Secondary
                button.grey-secondary-button Main CTA
                button.purple-secondary-button Main CTA
                button.yellow-secondary-button Main CTA
