#mobile-nav {
  background-color: $transparent-black;

  hr {
    background-color: $light-green;
    border: 0;
    color: $light-green;
    height: 0.4rem;
  }
}

.top-bar-links {
  text-transform: uppercase;
}

.top-bar-section {
   li {
      background: $fully-transparent !important; 
   }
}

.is-current-page {
  color: $green;
}