.top-bar-links {
  text-transform: uppercase;
}

.top-bar-section {
   li {
      background: $fully-transparent !important; 
   }
}

.is-current-page {
  color: $green;
}

.name {
  max-width: 250px;

  img {
    margin: 13px 0 0 10px;
  }
}
