{% assign team = site.pages['about'].pages['team'] %}
{% assign board = site.pages['about'].pages['board'] %}
{% assign advisors = site.pages['about'].pages['advisors'] %}

{% capture content %}
<div class="section-padding">
  <div class="row text-center">
    <div class="medium-8 columns medium-centered">
      {{meta['page-text'] | markdown }}
    </div>
  </div>
</div>
<div class="profiles-section">
  <div class="section-padding row text-center sub-padding">
    <h4 class="columns sub-padding">Our Team</h4>
{% for post in team.posts %}
  {% include 'includes/team-profile' %} 
{% endfor %}
  </div>
  <div class="section-padding grey-section section-padding">
    <div class="row text-center">
      <h4 class="columns sub-padding">Our Board</h4>
  {% for post in board.posts %}
    {% include 'includes/team-profile' %}
  {% endfor %}
    </div>
    <div class="row text-center">
      <h4 class="columns sub-padding">Our Advisors</h4>
  {% for post in advisors.posts %}
    {% include 'includes/team-profile' %}
  {% endfor %}
    </div>
  </div>
</div>
  
{% endcapture %}

{% include 'layouts/default-page' %}