{% assign team = site.pages['about'].pages['team'] %}
{% assign board = site.pages['about'].pages['board'] %}
{% assign advisors = site.pages['about'].pages['advisors'] %}

{% capture content %}
<div class="section-padding">
  <div class="section-padding-plus">
    <div class="row text-center">
      <h4 class="medium-6 medium-centered title-underline columns">Our Mission</h4>
      <div class="medium-8 columns medium-centered larger-paragraph-font">
        {{meta['page-text'] | markdown }}
      </div>
    </div>
  </div>
    <div style="background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
      ),
    url({{meta['mission-img']}}) no-repeat;">
      <div class="planetary-section">
        <div class="medium-6 columns medium-offset-5">
          {{meta['page-text'] | markdown }}
        </div>
      </div>
    </div>
  <div class="profiles-section">
    <div class="section-padding row text-center sub-padding">
      <h4 class="medium-6 medium-centered title-underline columns">Our Team</h4>
  {% for post in team.posts %}
    {% include 'includes/team-profile' %} 
  {% endfor %}
    </div>
    <div class="section-padding grey-section section-padding">
      <div class="row text-center">
        <h4 class="medium-6 medium-centered title-underline columns">Our Board</h4>
    {% for post in board.posts %}
      {% include 'includes/team-profile' %}
    {% endfor %}
      </div>
    </div>
    <div class="section-padding section-padding">
      <div class="row text-center">
        <h4 class="medium-6 medium-centered title-underline columns">Our Advisors</h4>
    {% for post in advisors.posts %}
      {% include 'includes/team-profile' %}
    {% endfor %}
      </div>
    </div>
  </div>
</div>
  
{% endcapture %}

{% include 'layouts/default-page' %}