{% capture content %}
<div class="row text-center section-padding">
  <div class="medium-10 medium-centered columns">
    <h2 class="lower-case">{{meta['blurb']}}</h2>
  </div>
</div>
<div class="row text-center section-padding">
  <div class="medium-6 large-3 columns accelerator-icons">
    <img src="/images/computer.png" alt="computer icon">
    <h6>Office Space</h6>
  </div>
  <div class="medium-6 large-3 columns accelerator-icons">
    <img src="/images/money.png" alt="money icon">
    <h6>HR and Accounting Support</h6>
  </div>
  <div class="medium-6 large-3 columns accelerator-icons">
    <img src="/images/house.png" alt="house icon">
    <h6>Housing</h6>
  </div>
  <div class="medium-6 large-3 columns accelerator-icons">
    <img src="/images/network.png" alt="mentor network icon">
    <h6>Robust Mentor Network</h6>
  </div>
</div>
<div class="row section-padding">
  <div class="columns small-4 small-centered">
    <a href="{{meta['application-link']}}" class="button transparent-green-button">Apply Now</a>
  </div>
</div>
{% endcapture %}

{% include 'layouts/default-page' %}