<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'includes/meta-general' %}
    {% include 'includes/meta-twitter' %}
    {% include 'includes/meta-open-graph' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <script src="//use.typekit.net/jod2yyl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr/modernizr.js"></script>
    <script src="//load.sumome.com/" data-sumo-site-id="2c16328414797acfee1feb66d0f3321c7becd24600e4bafadc10c727ef1e0878" async="async"></script>
  </head>
  <body>
    <div id="content">
      {% include 'includes/nav' %}
      {{ hero }}
      {{ content }}
    </div>
    {% include 'includes/mobile-overlay-menu' %}  
    {% include 'includes/footer' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="/js/vendor/foundation/js/foundation.min.js"></script>
    <script src="/js/vendor/foundation/js/foundation.topbar.js"></script>
    <script src="/js/vendor/classie.js"></script>
    <script src="/js/nav-overlay.js"></script>
    <script src="/js/main.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>