{% capture content %}
  <div class="row section-padding">
    {% for page in pages %}
      <div class="programs-section">
        <div class="large-6 columns text-center">
          <img src="{{page.meta['programs-page-icon']}}" alt="{{page.title}}" class="section-padding programs-icon">
          <h6>{{page.title}}</h6>
          <div style="min-height: 150px;">
            {{page.body}}
          </div>
          <a href="{{page.url}}" class="button transparent-green-button">{{ meta['button-text'] }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endcapture %}

{% include 'layouts/default-page' %}