#footer
  .row
    .medium-3.columns
      .columns
        img(src='images/wpl-white-logo.svg')
  .row
    .medium-3.columns
      hr
      p 800 Market Street
      p Chattnooga, TN
      p 37403
    .medium-3.columns
      hr
      ul
        li
          a(href='#') About
        li
          a(href='#') WPU
        li
          a(href='#') Accelerator 
        li
          a(href='#') Speaker Series 
        li
          a(href='#') Apply 
        li
          a(href='#') Contact Us 
    .medium-3.columns
      hr
      h6 Sign Up Today
      p Stay up-to-date with WayPaverLabs community and get updates about news and events.
      form#signup-form.signup-form.row.collapse.text-center(role='form', onsubmit='return signup(this)')
        .small-8.columns    
          input.form-control.columns#email-input(name='email', type='email', placeholder='Your Email', required='')
        .small-4.columns     
          button#signup-button.postfix.small-4.columns.signup-button(type='submit') Sign Me Up 
    .medium-3.columns
      hr
      p Connect with us
