.overlay.overlay-hugeinc
    button.overlay-close(type='button') Close
    nav
      ul
        li
          a(href='#') About 
        li
          a(href='#') Accelerator 
        li
          a(href='#') Programs 
        li
          a(href='#') Apply 